h1
{
    color: green;
    text-align: center;
}

#bataille
{
    display: flex;
    justify-content: center;
}

.schema
{
    width: 50%;
    height: 50%;
}

#form
{
    display: flex;
    justify-content: center;
}

#hint
{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

pre{
    font-size: large;
    color: white;
}