body {
	background-color: #DCDCDC;
}

.align_block {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}

.title {
	border: 2px;
	padding: 2rem;
	width: 25rem;
	background-color: #ffffff;
	border-radius: 5%;
	margin-right: 5rem;
}

.chessboard {
	border: 2px;
	padding: 2rem;
	width: 25rem;
	background-color: #ffffff;
	border-radius: 5%;
}

.align_button {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

.button {
	display: flex-end;
}