body {
	background-color: #DCDCDC;
}

.align_block {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}

.title {
	padding: 2rem;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5%;
	max-width: 25rem;
}

.chessboard {
	padding: 2rem;
	width: auto;
	background-color: #ffffff;
	border-radius: 5%;
}

.chessboard > img {
	width: 100%;
	height: 100%;
}

.align_button {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 10rem;
}

.button {
	display: flex-end;
}


@media screen and (max-width: 1030px) {
	.align_block {
		flex-wrap: wrap;
		padding-top: 1rem;
	}
}
@media screen and (min-width: 1030px) {
	.title {
		margin-right: 5rem;
	}
}
@media screen and (max-width: 936px) {
	.title {
		margin-bottom: 2rem;
	}
	.align_block {
		padding-top: 1rem;
	}
}

