body {
	background-color: #DCDCDC;
}

.align_block {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
	flex-wrap: wrap;
}

.title {
	padding: 2rem;
	width: 25rem;
	height: 25rem;
	background-color: #ffffff;
	border-radius: 5%;
}

.chessboard {
	padding: 2rem;
	width: 25rem;
	height: 25rem;
	background-color: #ffffff;
	border-radius: 5%;
}

.align_button {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 10rem;
}

.button {
	display: flex-end;
}

@media screen and (max-width: 1029) {
	.title {
		margin-right: 5rem;
	}
}